## .NET build output
bin/
obj/
out/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo

## Secrets & environment
appsettings.Development.json
appsettings.Local.json
*.env
secrets.json

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## NuGet
*.nupkg
packages/

wwwroot/lib/